* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота страницы на весь экран */
    overflow: visible;
  }
  
  body {
    background-color: rgba(32, 20, 11, 0.488);
}

main {
    flex: 1; /* заполняет всё доступное пространство */
    padding: 20px;
    margin: 0 5px;
    background-color: #f7f6f2c5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

/* navbar (header) - common */
.navbar a {
    color: #f7f6f2c5;
    text-decoration: none;
}

/* .navbar a:hover {
    color: #f7f6f2c5;
} */

header {
    padding: 20px 0;
    justify-items: center;
    text-align: center;
    background-color: #f7f6f2c5;
    border-radius: 1px;
}

footer {
    background-color: rgb(67, 67, 67);
    color: #f7f6f2c5;
    padding: 20px 0;
    /* margin-top: auto; */
    margin-top: 10px;
    text-align: center;
    border-radius: 1px;
}

.logo a {
    color: black;
    font-weight: 470 !important;
    font-size: 17px !important;
}

.notifications-area {
    min-height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center; /* горизонталь */
    align-items: center; /* вертикаль */
}

h3 {
    margin: 0;
    font-weight: 400;
}

.brand {
    font-weight: 400 !important;
}

p {
    margin: 5px;
}

.wrapper-content {
    display: flex; /* размещаем элементы в строку */
    flex-grow: 1; /* контейнер занимает доступное пространство */
    justify-content: space-around; 
    overflow: visible;
}

/* sidebar (categories) */
aside {
    display: block;
}

.sidebar {
    position: sticky !important;
    top: 0; /* расстояние от верхнего края */
    height: 100vh; /* полная высота окна */
    overflow-y: auto; /* добавляет прокрутку, если контент не помещается */

    width: 250px; /* фиксированная ширина */
    background-color: #f7f6f2c5;
    padding: 20px;
    margin: 0 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* тень для визуального выделения */
    border-radius: 1px;
}

.categories-filter {
    margin-top: 6px;
}

.categories-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.categories-list label {
    font-size: 16px;
    cursor: pointer;
}

.categories-list input[type="checkbox"] {
    margin-right: 2px;
    cursor: pointer;
}

.price-input {
    display: flex;
    flex-direction: row;
    gap: 5px; /* расстояние между полями */
}

.price-input label {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

.form-control {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%; /* поля растягиваются на всю ширину */
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgba(32, 20, 11, 0.488);
    color: #f7f6f2c5;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* кнопка на всю ширину контейнера */
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:  rgba(32, 20, 11, 0.588); /* более темный оттенок при наведении */
}

button:active {
    background-color:  rgba(32, 20, 11, 0.688); /* еще темнее при нажатии */
}


/* main (catalog) */
.header-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.select-sort {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* контейнер для товаров */
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* карточка товара */
.product-card {
    display: flex;
    flex-direction: column; /* располагаем элементы вертикально */
    justify-content: space-between; /* распределяем элементы */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 300px;
    position: relative;
}

.add-to-cart-btn {
    margin-top: auto;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* контейнер изображения */
.product-image {
    width: 100%; /* ширина равна ширине карточки */
    height: 200px; /* фиксированная высота для всех изображений */
    object-fit: contain; /* изображение масштабируется, сохраняя пропорции */
    /* background-color: #f8f8f8; */
    background-color: #fff;
     /* фон для пустого пространства */
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
}

/* название товара */
.product-title {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

/* рейтинг товара */
.product-rating {
    font-size: 14px;
    color: #c1821c; /* цвет звезд */
    margin-bottom: 10px;
}

/* цена товара */
.product-price {
    font-size: 16px;
    margin-bottom: 15px;
}

.product-price .old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.product-price .new-price {
    color: #b43123; /* красный цвет для скидки */
    font-weight: 500;
}

/* header */
.container {
    max-width: 1200px;
    max-height: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* Поисковая строка */
.search-bar {
    display: flex;
    align-items: center;
    flex: 0.7;
    width: 40%;
    justify-content: center;
    gap: 0;
}

.search-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

.search-btn {
    margin: 0;
    width: 10%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* управление пользователем */
.user-controls {
    width: 10%;
    margin: 0;
}

/* отображение товаров (js) */
.hidden {
    display: none;
}